.advertList {
    list-style: none;
    padding: 0;
}

.advertContainer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    
}   

.advertName{
    font-size: 30px;

}
.advertSale {
    color: grey;
}
.advertPrice {
    font-weight: bold;

}
.advertTags {
    color: grey;
}

.advertImg {
    width: 100%;
}